.pytest_cache/
__pycache__/
.cache
*.py[cod]

data/**
*~
secret_config.yml
*.sublime-*
*.orig
*.log
log/**
test/cron_cng_test/data_test_clone_chain_record.py
cron_affy_to_redcap.py
dump_dicts_fastq_info.py
example_input_no_redcap.tsv
generate_mock_crf.py
no_redcap_samples_plan.py